<div class="home-page">
    <div class="about">
        <h2>About</h2>
        <p >Highly motivated B.Tech student in Computer Science with strong web development skills and proficiency in Java and C. Demonstrates strong problem-solving abilities with a focus on delivering high-quality solutions. Passionate about creating innovative web-based applications that positively impact users' experiences.</p>
        <div class="contact">
            <ul>
                <li> <strong >Age:</strong> <span>20</span></li>
                <li> <strong>Student at:</strong> <span>Amal Jyothi College of Engineering Kanjirappally</span></li>
                <li> <strong>Email:</strong> <span>amanmhafeeswork@gmail.com</span></li>
                <li> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
        
        </div>
    </div>
    <div class="skills">
        <h2 >Skills</h2>
        <label id="html">HTML:</label>
    <progress class="progress-bar" value="100" max="100"> 100% </progress>
    <label id="css">CSS</label>
    <progress class="progress-bar" value="80" max="100"> 80% </progress>
    <label id="js">JavaScript</label>
    <progress class="progress-bar" value="80" max="100"> 80% </progress>
    <label id="react">React</label>
    <progress class="progress-bar" value="40" max="100"> 80% </progress>
    <label id="PostgressSql">PostgreSQL</label>
    <progress class="progress-bar" value="80" max="100"> 80% </progress>
    <p>
    </div>
    </div>