<h2>Contact</h2>
<h3>Email</h3>
<p>amanmhafeeswork@gmail.com</p>
<h3>
    Phone
</h3>
<p>+91 9947027223</p>
<Address>
    <span>Kizhakkethil</span>
    <span>Vazhakkala</span>
    <span>Erumely</span>
    <span>District:Kottayam</span>

</Address>