<div class="profile">
    <button class="nav-toggle" aria-label="Toggle navigation">
        &#9776; <!-- Unicode for hamburger icon -->
    </button>
    <img class="profile-pic" src="/img/profilepic.jpg" alt="Profile Picture" height="250" width="250">
    <h2>AMAN M HAFEES</h2>
    <div class="profile-buttons">
        <a href="https://wa.me/your-whatsapp-number" target="_blank" class="round-button whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/your-linkedin-profile" target="_blank" class="round-button linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
    </div>
    <nav class="profile_nav">
        <ul class="navlist navbar">
            <li><a href="#home" class="nav-link"><i class="fa fa-house"></i>  Home</a></li>
            <li><a href="#about" class="nav-link"><i class="fa-regular fa-address-card"></i>  About</a></li>
            <li><a href="#resume" class="nav-link"><i class="fa-solid fa-file"></i>  Resume</a></li>
            <li><a href="#portfolio" class="nav-link"><i class="bx bx-file-blank"></i>  Portfolio</a></li>
            <li><a href="#contact" class="nav-link"><i class="fa-regular fa-address-book"></i></i>  Contact</a></li>
        </ul>
    </nav>
</div>
