<div class="resume">
    <h2>Resume</h2>
    <p>Highly motivated B.Tech student in Computer Science with strong web development skills and proficiency in Java and C. Demonstrates strong problem-solving abilities with a focus on delivering high-quality solutions. Passionate about creating innovative web-based applications that positively impact users' experiences.</p>
    <h3 class="resume-title">Sumary</h3>
    
            <div class="college vl ">
              <div id="college"><h4>Amal Jyothi College of Engineering Kanjirappally</h4>
              <ul>
                <h5>2022 -2026</h5>
                <li>Kanjirappally,Kottayam, Kerala.</li>
                <li> +91 9072661610</li>
                <li>info@amaljyothi.ac.in</li>
                <li><a href="https://www.ajce.in/" target="_blank">https://www.ajce.in/</a></li>
              </ul>
            </div>
          </div>
          <div class="school vl ">
            <div id="school"><h4>Alfeen Public School</h4>
            <ul>
              <h5>2020-2022</h5>
              <li>Kanjirappally,Kottayam, Kerala.</li>
              <li>+91-91882 66585/64585</li>
              <li>info@alfeenpublicschool.in</li>
              <li><a href="https://www.alfeenpublicschool.ac.in/" target="_blank">https://www.alfeenpublicschool.ac.in/</a></li>
            </ul>
          </div>
        </div>
</div>